<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reading Notes</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
        <nav>
            <h1 id="navbar"></h1>
            <a class="navBar" href = "index.html">Home</a>
            <a class="navBar"href = "01.html">01</a>
            <a class="navBar"href = "02.html">02</a>
            <a class="navBar"href = "03.html">03</a>
            <a class="navBar"href = "04.html">04</a>
            <a class="navBar"href = "05.html">05</a>
        </nav>
    </header>
    <h1>Reading 02 - Urban designs as social-natural resolutions</h1>
    <h2>
        Notes:
    </h2>
    <p>
        - Good urban designs achieve not only the right to the city, but also the right to nature
    </p>
    <p>
        - Since mid 20th, urban design has had a troubling authoritarian, anti-social and anti-natural history
    </p>
    <p>
        - Tied to misuse of bereaucratic power based on Western ideas and moderisation
    </p>
    <p>
        - Growth of low/medium density urbanisation across globe is a pressing issue, urban land consumption is outpacing population growth
    </p>
    <p>
        - Indigenously based designs through practice of 'spatial ethnography'
    </p>
    <p>
        - Ideas: emergence of technical and specialist subfield of urban design, landscape ecology grew out of environmental concerns around suburbanisation, test integrative practices of urban designs as SNR studying Chiang Mai, discuss metacity.
    </p>
    <p>
        - CIAM advocated for a modernist vocabulary of widely
        spaced concrete and glass housing slabs set in greenery as a sanitary alternative
        to the dense matrix of traditional urban form
    <p>
        - 1956 focused on creating new designs for urban cores in both older city
        centers scarred by urban renewal and for new car-based suburbs.
    </p>
    <p>
        - new urban cores “were the only places where civic culture could
        continue and be able to resist the centralizing and undemocratic forces of mass
        media-based politics”
    </p>
    <p>
        - new
        figure of the urban designer: planner, architect, and
        landscape architect, in the design and development of cities
    </p>
    <p>
        - The result was to turn Manhattan into “the
        world’s largest gated community” enabled by urban design technocrats. “The
        role of design as the expression of privilege has never been clearer ... the city seems to everywhere sacrifice its rich ecology of social possibilities for simply
        looking good”
    </p>
    <p><strong> - the neoliberal, public/private, design/development model has been
        dutifully followed in cities around the world, and describes well the situation
        in Chiang Mai today, where new gated communities, commercial strips and
        shopping malls dot the verdant valley.
    </strong></p>
    <p>
        - view of a city being produced from the inside-out is echoed by femi-
        nist architect Susana Torre’s concept of “space as matrix”
    </p>
    <p><strong> - employed the techniques of architectural ethnography and space
        as matrix to study Chiang Mai as a regional river basin, structured from the
        
        inside-out by micro-scale extended family live/work compounds. This consti-
        tutes an urban “tissue” and city/territory as examples of urban designs not in
        
        service of modern city development but in support of the communities in its
        path
    </strong></p>
    <p>
        - Analysis of map: This indigenous architectural and landscape patch matrix is confronting urban sprawl
        following newly constructed radial and ring roads. The historical center of Chiang Mai is the
        small, moated square near the bank of the Mae Ping to the west, and the older moated city of
        Lamphun is at the lower part of the basin at the mouth of the Mae Kuang to the south.
    </p>
    <p>
        <strong>-Two urban landscapes</strong>
    </p>
    <p>
        - forested mountains of northern Thailand embrace furrowed valleys,
        annually flooded by flashy, monsoon-fed rivers. These isolated watersheds
        historically sustained wet rice-growing kingdoms governed by a polycentric religio-political system constituting a social-natural “galactical polity” that
        afforded relative autonomy to villages and lesser tributary polities
    </p>
    <p>
        - work with the residents within the four villages along the river in this area.
    </p>
    <p>
        - Design study ares: With most activities outdoors, the design provides both a mode for sustainable infrastructure and passively cooled “green”
        healthy architecture.
    </p>
    <p>
        - The metacity, based
        on metacommunity and metapopulation theories in ecology, also suggests a decentralized polity as the basis to build social movements that revalue the
        original <strong>muang-fai</strong> hydro-social system.
    </p>
    <p>
        - The disciplines of architecture and ecology, since their inception, have been
        troubled by structural sexism, racism and classism.
    </p>

  </body>
</html>