<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reading Notes</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
        <nav>
            <h1 id="navbar"></h1>
            <a class="navBar" href = "index.html">Home</a>
            <a class="navBar"href = "01.html">01</a>
            <a class="navBar"href = "02.html">02</a>
            <a class="navBar"href = "03.html">03</a>
            <a class="navBar"href = "04.html">04</a>
            <a class="navBar"href = "05.html">05</a>
        </nav>
    </header>
    <h1>Reading 03 - Animation, Simulative Motion, and Magical Realism</h1>
    <h2>
        Reality vs dreams:
    </h2>
    <p>
        - Animation is worldbuilding
    </p>
    <p>
        - Has immense potential, to negotiage reality and fantasy as well as using animation to rethink architectural and spatial experiences. 
    </p>
    <p>
        - Reimagine our physical world and speculate on how it could be
    </p>
    <p>
        - View the concept of reality through lenses of stroytelling and worldbuilding + inspect reality as part of extended reality and a physical virtual spectrum
    </p>
    <p> 
        - Our dreams and imaginations are the closest to the fantasy world
    </p>
    <p>
        - The in betweens states of real and fantasy, one of the most recognised being the magical real.
    </p>
    <p> 
        - Essentially the beauty in the ambiguity, room for audience imagination, like Chinese philosophical idea of liu bai
    </p>
    <p>
        - Magical realism can be considered a vehicle, to live and experience without detaching from the everyday world while being fully immesered in fantasy and dreams
    </p>
    <p>
        - Understanding of 'story'
    </p>
    <p> - Miyazaki wanted to capture the strange and yet familiar; this is like dreams, reminds me of surrealism in artmaking, minus the psychoanalysis aspects</p>
    <p>
        - Ghiblis success is in merging real with unreal, making abnormal events credible by placing it in a familar contect that anchors the magical back into ordinary reality.
    </p>
    <p>
        - Everything happens in landscapes not far from our own cityscapes, making possibilities, buildings with similar interior intimacy. Example: Howls castle being extremely typical inside, yet its a moving castle in relation to tis urban/rural context. Bathhouse is completely ordinary from the outside and blends into the context of the village, yet its users, operation, and scale all together is completely abnormal. 
    </p>
    <h2>Animation as Magic:</h2>
    <p>
        - Animation is bending and twisting physical/tangible reality.
    </p>
  </body>
</html>