<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reading Notes</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
        <nav>
            <h1 id="navbar"></h1>
            <a class="navBar" href = "index.html">Home</a>
            <a class="navBar"href = "01.html">01</a>
            <a class="navBar"href = "02.html">02</a>
            <a class="navBar"href = "03.html">03</a>
            <a class="navBar"href = "04.html">04</a>
            <a class="navBar"href = "05.html">05</a>
        </nav>
    </header>
    <h1>Reading 04 - Please, it&#39s super cool to use Three.js to make 2D images look 3D</h1>
    <h2>Three.js:</h2>
    <p>
        - Convert 2D to 3D using Three.js + React technology stack, converts 2D cartoon
        pictures into 3D visual effects. 
    </p>
    <p>
        - Image has a visual depth of
            field effect of 3D
    </p>
    <p>
        Steps: prepare a picture as the original material, best to
        divide picture content into multiple levels to achieve the 3D
        depth of field effect. Open the picture in Photoshop , create several layers according to
        the number of layers needed, copy map to each layer, then
        edit each layer according to the division of the depth of the layer
        scene, and use the magic of Stick Tool and Lasso Tool Remove the
        excess, then export each layer individually as footage.
    </p>
    <p>
        - OrbitControls used for lens track control,  TWEEN
     used for lens tween animation
    </p>

  </body>
</html>